
@font-face {
  font-family: minecraft;
  src: url(/static/Minecraft-Regular.otf);
}

.IndexPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .mainCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
