<!doctype html>
<html lang="en">
	<head>
		<title>Pixel Lobby</title>
		<meta charset="utf-8">
		{{#if production}}
			<link rel="stylesheet" href="/style.css"/>
		{{/if}}
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="manifest" href="/static/icons/site.webmanifest">
        <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#064814">
        <link rel="shortcut icon" href="/static/icons/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Pixel Lobby">
        <meta name="application-name" content="Pixel Lobby">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
        <meta name="theme-color" content="#064814">
    </head>
	<body>
		<div id="root">{{{reactContent}}}</div>
		<script id="initialData" type="application/json">{{{initialData}}}</script>

		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>